<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.Calendar.mapper.PlanMapper">

    <resultMap id="planResult" type="com.kh.Calendar.entity.Plan">
        <id column="PLAN_NO" property="planNo"/>
        <result column="PLAN_TITLE" property="planTitle"/>
        <result column="PLAN_CONTENT" property="planContent"/>
        <result column="DATE" property="date"/>
    </resultMap>

    <insert id="addPlan" parameterType="com.kh.Calendar.entity.Plan" useGeneratedKeys="true" keyProperty="planNo">
        INSERT INTO PLAN (USER_NO, PLAN_TITLE, DATE, PLAN_CONTENT)
        VALUES (#{user.userNo}, #{planTitle}, #{date}, #{planContent})
    </insert>

    <update id="updatePlan" parameterType="com.kh.Calendar.entity.Plan">
        UPDATE PLAN
        SET PLAN_TITLE = #{planTitle},
            PLAN_CONTENT = #{planContent}
        WHERE PLAN_NO = #{planNo}
    </update>

    <delete id="deletePlan">
        DELETE FROM PLAN WHERE PLAN_NO = #{planNo}
    </delete>

    <select id="searchPlans" resultMap="planResult">
        SELECT *
        FROM PLAN
        WHERE USER_NO = #{userNo}
          AND DATE = #{date}
          AND PLAN_TITLE LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>