<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.Calendar.mapper.PlanMapper">
<!--추가-->
    <insert id="addPlan" parameterType="com.kh.Calendar.entity.Plan" useGeneratedKeys="true" keyProperty="planNo">
        INSERT INTO PLAN (USER_NO, PLAN_TITLE, DATE, PLAN_CONTENT)
        VALUES (#{user.userNo}, #{planTitle}, #{date}, #{planContent})
    </insert>
<!--수정-->
    <update id="updatePlan" parameterType="com.kh.Calendar.entity.Plan">
        UPDATE PLAN
        SET PLAN_TITLE = #{planTitle},
            PLAN_CONTENT = #{planContent}
        WHERE PLAN_NO = #{planNo}
    </update>
<!--삭제-->
    <delete id="deletePlan">
        DELETE FROM PLAN WHERE PLAN_NO = #{planNo}
    </delete>

<!--검색-->
    <select id="searchPlans" resultType="com.kh.Calendar.entity.Plan">
        SELECT *
        FROM PLAN
        WHERE USER_NO = #{userNo}
          AND DATE = #{date}
          AND PLAN_TITLE LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>