<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.Calendar.mapper.UserMapper">
    <resultMap id="userResult" type="com.kh.Calendar.entity.User">
        <id column="USER_NO" property="userNo"/> <result column="USER_ID" property="userId"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_PHONE" property="userPhone"/>
        <result column="USER_EMAIL" property="userEmail"/>

        <collection property="plans"
                    column="USER_NO"
                    javaType="java.util.List"
                    ofType="com.kh.Calendar.entity.Plan"
                    select="selectPlansByUserNo"/>
    </resultMap>

    <insert id="addUsers" parameterType="com.kh.Calendar.entity.User">
    INSERT INTO USERS
    (USER_ID, USER_PWD, USER_NAME, USER_PHONE, USER_EMAIL)
    VALUES
    (#{userId}, #{userPwd}, #{userName}, #{userPhone}, #{userEmail})
    </insert>

    <select id="findByIdPwd" resultMap="userResult">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId}
          AND USER_PWD = #{userPwd}
    </select>

    <update id="updateUser" parameterType="com.kh.Calendar.entity.User">
        UPDATE USERS
        SET USER_NAME = #{userName},
            USER_PHONE = #{userPhone},
            USER_EMAIL = #{userEmail}
        WHERE USER_NO = #{userNo}
    </update>

    <select id="findByUserNo" resultMap="userResult">
        SELECT *
        FROM USERS
        WHERE USER_NO = #{userNo}
    </select>

    <select id="findId" resultType="string" parameterType="com.kh.Calendar.entity.User">
        SELECT USER_ID
        FROM USERS
        WHERE USER_NAME = #{userName}
          AND USER_PHONE = #{userPhone}
    </select>

    <select id="findPwd" resultType="string" parameterType="com.kh.Calendar.entity.User">
        SELECT USER_PWD
        FROM USERS
        WHERE USER_ID = #{userId}
          AND USER_NAME = #{userName}
          AND USER_PHONE = #{userPhone}
    </select>

    <select id="selectPlansByUserNo" resultType="com.kh.Calendar.entity.Plan">
        SELECT
            PLAN_NO as planNo,
            USER_NO as "user.userNo", PLAN_TITLE as planTitle,
            DATE as date,
            PLAN_CONTENT as planContent
        FROM PLAN
        WHERE USER_NO = #{userNo}
    </select>
</mapper>